img{
    margin-top: 20px;
    height: 400px;
    width: 400px;
}
.product{
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: rgb(168, 216, 218);
}
.products{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    gap : 15px;
}

button{
    height: 40px;
    width: 90px;
    margin-bottom: 30px;
    background-color: rgb(250, 222, 250);
    border-radius: 10px;
}
body{
    background-color: antiquewhite;

}